@font-face { font-family: xilo; src: url('xilosa_.ttf'); }

body {
    width: 60%;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    background-color: #FFFFFC;
}

h1 {
    margin: 0;
    padding: 30px 0;
    font-family: xilo;
    font-size: 80px;
    text-align: center;
    color: #853F23;
}

img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
}

h2,
h3,
p {
    font-family: 'Handlee', cursive;
    color: #010340;
    letter-spacing: 1px;
}

h2,
h3 {
    font-size: 36px;
}

p {
    font-size: 21px;
}

li {
    font-family: 'cookie', cursive;
    color: #010340;
    line-height: 1.5;
    font-size: 32px;
}

#dishes {
    list-style: none;
}

a:link {
    color: #853F23;
    text-decoration: none;
}

a:visited {
    color: #010340;
}

a:hover {
    color: #F5BB02;
}
